@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<RatingsViewModel>
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using R7.Enrollment.Dnn.ViewModels
@{
    JavaScript.RequestRegistration ("React");
    JavaScript.RequestRegistration ("ReactDOM");
    ClientResourceManager.RegisterScript (Dnn.DnnPage, "~/DesktopModules/MVC/R7.Enrollment/assets/js/RatingSearch.min.js");
    ClientResourceManager.RegisterScript (Dnn.DnnPage, "~/DesktopModules/MVC/R7.Enrollment/assets/js/EnrollmentService.min.js");
}
<div class="enr-rating-search-react-root" data-module-id="@Dnn.ModuleContext.ModuleId"></div>

@section Scripts {
    <script type="text/javascript">
    (function ($, window, document) {
        $(() => {
            $(".enr-rating-search-react-root").each ((i, m) => {
                var moduleId = $(m).data ("module-id");
                var props = {
                    moduleId: moduleId,
                    service: new EnrollmentService (moduleId)
                };
                ReactDOM.render (React.createElement (RatingSearch, props, null), m);
            });
        });
    }) (jQuery, window, document);
    </script>
 }
 